body {
	background: linear-gradient(to bottom, #1e252d 0%, #39424e 100%);
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1 {
    font-size: 50; /* Adjust the size as needed */
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 2px; /* Adjust the spacing between letters */
}

p, ul {
    color: grey;
}

.banner {
    position: relative;
	width: 72rem;
	margin-left: auto;
	margin-right: auto;
    /* border: 1px solid #000; */
}

.banner-text {
    color: white;
    text-align: center;
    /* border: 1px solid #000; Just to show the container */
}

.banner-text p {
    color: white;
    text-align: center;
    font-style: italic; /* Makes the text italic */
    font-size: 20px; /* Sets the font size to 16px */
}

.banner-photo img {
    width: 100%; /* Ensures the image covers the full width of its container */
    height: 100%; /* Ensures the image covers the full height of its container */
    border-radius: 50%;
    object-fit: cover;
    position: absolute; /* Positioning it absolutely inside the relative container */
    top: 50%; /* Align top edge to center vertically */
    left: 50%; /* Align left edge to center horizontally */
    transform: translate(-50%, -50%); /* Shift it back by half its width and height */
}

.banner-photo {
    position: absolute; /* This line is crucial */
    /* background-color: red; */
    height: 180px;
    margin-top: 30px;
    right: 0;
    width: 15%;
    align-items: center;
    top: 50%; /* Move the top edge to the center of the container */
    transform: translateY(-50%); /* Shift it up by half its own height */
    display: flex; /* Added to use flexbox for centering */
    justify-content: center; /* Center horizontally */
}

/* #nav {
	color: #ffffff;
	-moz-transition: -moz-transform 1s ease, opacity 1s ease;
	-webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
	-ms-transition: -ms-transform 1s ease, opacity 1s ease;
	transition: transform 1s ease, opacity 1s ease;
	background: rgba(255, 255, 255, 0.175);
	height: 4rem;
	line-height: 2rem;
	margin: 0 auto;
	max-width: 72rem;
} */

#nav {
	line-height: 3rem;
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    color: white;
    border: 1px dotted black;
    background: rgba(255, 255, 255, 0.175);
    height: 3rem;
    display: flex; /* Enable flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally, if needed */
}

.main {
    background-color: white;
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main p {
    margin: 0; /* Removes the default margin */
    padding-left: 70px; /* Padding set to 50px */
    padding-right: 70px; /* Padding set to 50px */
    padding-bottom: 20px; /* Padding set to 50px */
    line-height: 1.5; /* Add spacing between lines of text */
}

.main ul {
    margin: 0; /* Removes the default margin */
    padding-left: 120px; /* Padding set to 50px */
    padding-right: 70px; /* Padding set to 50px */
    padding-bottom: 20px; /* Padding set to 50px */
}

.main li {
    padding-bottom: 10px; /* Padding set to 50px */
}

.main h1 {
    margin: 0; /* Removes the default margin */
    text-align: center;
    padding: 70px; /* Padding set to 50px */
    text-transform: uppercase; /* Capitalizes all the text */
    font-size: 20;
    font-weight: bold; /* Makes the text bold */
}

.skills {
    color: rgb(55, 55, 55);
    margin: 0; /* Removes the default margin */
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}

.content-label {
    color: rgb(55, 55, 55);
    margin: 0; /* Removes the default margin */
    text-align: center;
    font-style: italic;
}

.skills p {
    color: rgb(55, 55, 55);
}

.main h3 {
    margin: 0; /* Removes the default margin */
    padding-top: 50px; /* Padding set to 50px */
    padding-bottom: 30px; /* Padding set to 50px */
    border-top: 1px dotted; /* Only bottom border is dotted */

    padding-left: 70px; /* Padding set to 50px */
    padding-right: 70px; /* Padding set to 50px */
    font-size: 20;
    font-weight: bold; /* Makes the text bold */
}

.main h4 {
    color: rgb(87, 87, 87);
    margin: 0; /* Removes the default margin */
    padding-left: 70px; /* Padding set to 50px */
    padding-top: 20px; /* Padding set to 50px */
    padding-bottom: 20px; /* Padding set to 50px */
    padding-right: 70px; /* Padding set to 50px */
    font-size: 15;
}

.main h2 {
    margin: 0; /* Removes the default margin */
    padding-top: 50px; /* Padding set to 50px */
    padding-bottom: 30px; /* Padding set to 50px */
    padding-left: 70px; /* Padding set to 50px */
    padding-right: 70px; /* Padding set to 50px */
    font-size: 20;
    font-weight: bold; /* Makes the text bold */
}

.main iframe {
    padding-top: 20;
}

.title-image {
    position: relative; /* Add this line */
    width: 100% !important; /* Stretch across the full width of the container */
    height: 200px; /* Set a fixed height and ensure the unit is specified */
    padding: 0 !important;
    margin: 0 !important;
}

.title-image img {
    width: 100% !important; /* Stretch across the full width of the container */
    height: 200; /* Set a fixed height */
    object-fit: cover; /* Crop and cover the area without distorting the aspect ratio */
    padding: 0 !important;
    margin: 0 !important;
}


.title-image h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to the exact center */
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent background */
    text-align: center;
    padding: 10px 10px; /* Increased padding for better visual separation */
    margin: 0px; /* Important to keep it at zero */
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bolder font for better readability */
    white-space: nowrap;
    border-radius: 10px;
}

.article-heading {
    padding-left: 30px;
}

.welcome-container {
    display: flex;
    align-items: center; /* Keeps items vertically aligned in the middle */
}

.welcome-left {
flex: 1; /* Takes up 1 part of the available space */
padding: 30;
text-align: center;
}

.welcome-right {
flex: 2; /* Takes up 2 parts of the available space, making it larger than the left */
padding: 30;

}
iframe {
width: 100%; /* Makes the iframe responsive within its container */
height: 450px; /* You can adjust or make it responsive as needed */
max-width: 800px; /* Maximum width of the iframe */
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

.article {
    position: relative; /* Ensure it's positioned */
    margin: 20px; /* Match the padding of the paragraph */
    padding: 0;
    background-color: white;
    overflow: hidden; /* This should now effectively clip the overflow */
    border-radius: 10px; /* Rounds the edges of the box */

}

.article h2 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to the exact center */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 10px; /* Rounds the edges of the box */
    padding: 10px;
}

.article p {
    position: absolute;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    bottom: 0; /* Position it at the bottom of the container */
    width: 100%; /* Adjust width to automatically calculate based on position */
    height: 100px; /* Corrected height with unit */
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    text-align: center;
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default margins */

}

.article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default margins */
}

.article img:hover {
    transform: scale(1.1); /* Scales up the image to 110% of its original size on hover */
}

#wrapper {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg.jpg");
    overflow: auto; /* Allows scrolling */
}

/* Style for the navigation bar */


/* General link styles */
#nav ul {
    display: flex; /* Using flexbox to align items horizontally */
    padding: 0; /* Removes default padding */
    list-style: none; /* Removes default list styling */
}

#nav li {
    display: inline-block; /* Ensures list items are in a line */
    margin-right: 20px; /* Adds space between the items */
}

#nav li a {
    color: white; /* Text color for links */
    padding: 8px 15px; /* Padding around links */
    text-decoration: none; /* No underline for links */
    text-transform: uppercase; /* Capitalizes all text */
}

#nav .dropdown {
    position: relative;
    display: inline-block;
}

#nav .dropdown-content {
    display: none; /* Hidden by default, shown on hover */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap; 
}

#nav .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

#nav .dropdown:hover .dropdown-content,
#nav .dropdown-content a:hover {
    display: block;
    color: #626262; /* This will not apply due to specificity, needs adjustment if intended for all a:hover within dropdown-content */
}

a:hover {
	border-bottom-color: transparent;
	color: #18bfef !important;
	text-decoration: none;
}

#nav ul.links {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	letter-spacing: 0.075em;
	list-style: none;
	text-transform: none;
    font-size: 12px;
}

.fields{
    padding: 0;
    margin-left: 70px;
    margin-right: 70px;
}

.field {
    width: 100%;
    box-sizing: border-box;
}

.field.half {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.field input[type="text"],
.field input[type="email"],
.field textarea {
    width: 100%;
    box-sizing: border-box;
}

.field.half:first-child {
    padding-right: 10px; /* Adjust the padding as needed */
}

.submit-button {
    list-style-type: none; /* Removes bullet points */
    margin-top: 10px; /* Padding set to 50px */
    margin-left: 70px; /* Padding set to 50px */
    margin-bottom: 10px; /* Padding set to 50px */

}

.actions input[type="submit"] {
    padding: 0px; /* Adjust padding for the button */
    margin: 0px; /* Ensure no margin is affecting the button */
}

input[type="submit"].primary,
button.primary,
.button.primary {
	background-color: #212931;
	box-shadow: none;
	color: #ffffff !important;
}

input[type="submit"].primary:hover,
button.primary:hover,
.button.primary:hover {
	background-color: #18bfef;
}

.field textarea {
    height: 200px;
}